<h1>BIENVENIDO AL CHAT DE LA COMISION 43400</h1>
<h3 id="user"></h3>
<form id="formulario">
  <input type="text" name="message" id="message" />
  <input type="submit" value="ENVIAR" />
</form>
<div id="chat"></div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>