<form action="/api/login" method="post">
  Username:
  <input type="text" name="username" id="username" />
  Password:
  <input type="password" name="password" id="password" />
  <button onclick="location.href='/api/login'"> LOGIN </button>
</form>

<button onclick="location.href='/api/views/githubSignup'">GitHub</button>